<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
  </ol>
</nav>

<h5><table><tr><td>Dashboard</td><td style="padding-left: 920px;"><span><h6>{{ToDay}}</h6></span></td></tr></table> </h5>

<div class="row">
  <div class="col-lg-3" style="background-color: #e9e6e6;">
    <div class="row">
      <!-- <div class="col-11 text-white text-center mx-2 rounded pt-2 pv-2 font-weight-bold"
                style="background-color: #a39e9e;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                </div> -->
      <div class="col-11 mx-auto mt-1 text-white text-center pt-1 pb-2 mx-2 rounded font-weight-bold"
        style="background-color:#4d575a;font-family:'Tahoma'">
        {{Designation | uppercase }}
      </div>
      <div class="col-12 text-center mt-2">
        <img src="assets/user.png" width="120px">
      </div>
      <div class="col-12 text-center pt-2 pb-2 font-weight-bold" style="font-family:Tahoma">
        {{Username}}
      </div>
      <div class="col-12 text-center pt-2 pb-2" style="font-family:calibri">Team Summary

      </div>
      <div class="col-12 mb-3">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            NO.OF TEAM MEMBERS
            <span class="badge badge-secondary badge-pill" style="font-size:13px">{{NoOfTeamMembers}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            TOTAL COST OF ALL PROJECTS
            <span class="badge badge-secondary badge-pill" style="font-size:13px">${{TotalCostOfAllProjects}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">PENDING TASKS
            <span class="badge badge-secondary badge-pill" style="font-size: 13px">{{PendingTasks}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            UPCOMING PROJECTS
            <span class="badge badge-secondary badge-pill" style="font-size:13px">{{UpComingProjects | percent}}</span>
          </li>
        </ul>
      </div>
      <div class="col-12 text-center pt-2 pb-2" style="font-family:'Arial Narrow'">CLIENTS

      </div>
      <div class="col-12">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let client of Clients">{{ client }}</li>

        </ul>

      </div>

    </div>
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-12 pt-0 pb-2" style="background-color:#e9e6e6">
        <div class="row mt-2">
          <div class="col-6 text-left">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown">
                Fox OnRoll
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#" *ngFor="let project of Projects" onclick="return false;"
                  (click)="onProjectChange($event)">{{project}}</a>

                  <!-- < *ngFor="let project of Projects" onclick="return false;"
                  (click)="onProjectChange($event)"> 
                  <details>{{project}}</details>
                  </datalist> -->


              </div>
            </div>
          </div>
          <div class="col-6 text-right">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown">2022-2025</button>

              <div class="dropdown-menu">
                <a class="dropdown-item" href="#" *ngFor="let year of Years">{{year}}
                  <!-- <span [ngSwitch]="year">
                    <span *ngSwitchCase="'2019-2024'" style="color:green">{{year}}</span>
                    <span *ngSwitchCase="'2018-2022'" style="color:brown">{{year}}</span>
                    <span *ngSwitchCase="'2017-2024'" style="color:gray">{{year}}</span>
                  </span> -->
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-11 mx-auto mt-1 text-white text-center pt-2 pb-2 mx-auto rounded font-weight-bold"
        style="background-color:#718d97;font-family:'Tahoma'">
        PROJECT BRIEFING
      </div>
      <div class="col-12">
        <table class="table table-borderless">
          <tr>
            <td>Project Cost</td>
            <td>{{ProjectCost | currency:"USD" }} </td>
          </tr>
          <tr>
            <td>
              Current Expenditure
            </td>
            <td>{{CurrentExpenditure | currency:"USD"}} </td>
          </tr>
          <tr>
            <td>
              Available Funds
            </td>
            <td>
              {{AvailableFunds | currency:"USD"}}
            </td>
          </tr>
        </table>
      </div>
      <div class="col-11 mx-auto mt-1 text-white text-center pt-2 pb-e mx-2 rounded font-weight-bold"
        style="background-color:#718d97;font-family:'Tahoma'">TEAM MEMBERS SUMMARY

      </div>
      <div class="col-12">
        <table class="table">
          <tr>
            <th>Region</th>
            <th>Team Members Count</th>
            <th>Temoporarily Unavailable Members</th>
          </tr>
          <tr *ngFor="let teammemberssummary of TeamMembersSummary">
            <td><b>{{teammemberssummary.Region}}</b></td>
            <td style="padding-left: 45px">{{ teammemberssummary.TeamMembersCount}}</td>
            <td style="padding-left: 75px">{{ teammemberssummary.TemporarilyUnavailableMembers }}</td>
          </tr>

        </table>
      </div>

    </div>
  </div>

  <div class="col-lg-3" style="background-color: #e9e6e6">
    <div class="row">
      <div class="col-11 mx-auto mt-1 text-white text-center pt-1 pb-2 mx-2 rounded font-weight-bold"
        style="background-color:#4d575a;font-family:'Tahoma'">
        TEAM MEMBERS
      </div>
      <div class="col-lg-12 pt-2">
        <div class="accordion" id="accordion1">
          <!-- east starts -->
          <div class="card" *ngFor="let teamMembersGroup of TeamMembers;let i=index">
            <div class="card-header bg-secondary" id="card1">
              <h2 class="mb-0">
                <button class="btn btn-link text-white" type="button" data-toggle="collapse"
                  [attr.data-target]="'#cardbody'+ i">
                  {{teamMembersGroup.Region}}
                </button>
              </h2>
            </div>
            <div [id]="'cardbody'+i" class="collapse " data-parent="#accordion1" [ngClass]="(i==0)?'show':''">
              <div class="card-body">
                <div *ngIf="i==0;then firstTemplate;else secondTemplate">

                </div>
                <ng-template #firstTemplate>
                  <div class="card" *ngFor="let member of teamMembersGroup.Members">
                    <div class="card-header bg-primary text-white">#{{member.ID}} {{member.Name}}

                    </div>
                    <div class="card-body" [style.color]="(member.Status=='Busy')?'red':'green'">{{member.Status}}</div>
                  </div>
                </ng-template>
                <ng-template #secondTemplate>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let member of teamMembersGroup.Members">
                        <td>{{member.ID}}</td>
                        <td>{{member.Name}}</td>
                        <td [style.color]="(member.Status=='Busy')?'red':'green'"><i class="fa fa-phone"></i>
                          {{member.Status}}</td>
                      </tr>
                      <!-- <tr>
                                <td>2</td>
                                <td>Peter</td>
                                <td><i class="fa fa-phone"></i> Available</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>Chris</td>
                                <td><i class="fa fa-user-times"></i> Busy</td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td>Lious</td>
                                <td><i class="fa fa-user-times"></i> Busy</td>
                              </tr> -->
                    </tbody>
                  </table>
                </ng-template>

              </div>
            </div>
          </div>
          <!-- east ends -->
          <!-- south starts -->
          <!-- <div class="card">
                    <div class="card-header bg-secondary" id="card2">
                      <h2 class="mb-0">
                        <button class="btn btn-link text-white"
                                type="button"
                                data-toggle="collapse"
                                data-target="#cardbody2">
                          West
                        </button>
                      </h2>
                    </div>
                    <div id="cardbody2" class="collapse" data-parent="#accordion1">
                      <div class="card-body">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>Name</th>
                              <th>Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Meg</td>
                              <td><i class="fa fa-user-times"></i> Busy</td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Brain</td>
                              <td><i class="fa fa-phone"></i> Available</td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>Qaugmire</td>
                              <td><i class="fa fa-user-times"></i> Busy</td>
                            </tr>
                            <tr>
                              <td>4</td>
                              <td>Joe</td>
                              <td><i class="fa fa-phone"></i> Available</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!-- south ends -->
          <!-- west starts -->
          <!-- <div class="card">
                    <div class="card-header bg-secondary" id="card3">
                      <h2 class="mb-0">
                        <button class="btn btn-link text-white"
                                type="button"
                                data-toggle="collapse"
                                data-target="#cardbody3">
                          South
                        </button>
                      </h2>
                    </div>
                    <div id="cardbody3" class="collapse" data-parent="#accordion1">
                      <div class="card-body">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>Name</th>
                              <th>Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Jones</td>
                              <td><i class="fa fa-user-times"></i> Busy</td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Miller</td>
                              <td><i class="fa fa-phone"></i> Available</td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>Ford</td>
                              <td><i class="fa fa-user-times"></i> Busy</td>
                            </tr>
                            <tr>
                              <td>4</td>
                              <td>James</td>
                              <td><i class="fa fa-phone"></i> Available</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!-- west ends -->
          <!-- north starts -->
          <!-- <div class="card">
                    <div class="card-header bg-secondary" id="card4">
                      <h2 class="mb-0">
                        <button class="btn btn-link text-white"
                                type="button"
                                data-toggle="collapse"
                                data-target="#cardbody4">
                          North
                        </button>
                      </h2>
                    </div>
                    <div id="cardbody4" class="collapse" data-parent="#accordion1">
                      <div class="card-body">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>Name</th>
                              <th>Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Donnoven</td>
                              <td><i class="fa fa-user-times"></i> Busy</td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Lindsy</td>
                              <td><i class="fa fa-phone"></i> Available</td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>Alex</td>
                              <td><i class="fa fa-user-times"></i> Busy</td>
                            </tr>
                            <tr>
                              <td>4</td>
                              <td>Rupert</td>
                              <td><i class="fa fa-phone"></i> Available</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div> -->
          <!-- north ends -->
        </div>
      </div>
    </div>
  </div>
</div>